<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/fonts.css" />
  </styleBundle>
  <styleBundle path="~/Content/home">
    <include path="~/Content/animate.css" />
  </styleBundle>
  <styleBundle path="~/Content/charts">
    <include path="~/assets/libs/jqchart/css/jquery.jqChart.css" />
    <include path="~/assets/libs/jqchart/css/jquery.jqRangeSlider.css" />
    <include path="~/assets/libs/jqchart/themes/smoothness/jquery-ui-1.10.4.css" />
  </styleBundle>
</bundles>