<!DOCTYPE html>
<html>
<head>
    <title>Ayuda de los estilos</title>
    <link href="../../../content/site.css" rel="stylesheet" />
    <link href="../../../content/encuesta.css" rel="stylesheet" />
</head>
<body>
    <h1>
        Ayuda de estilos
    </h1>
    <p>
        En esta página encontrará una muestra de todos los estilos que se pueden aplicar
        a una celda del diseño de los archivos Excel que contienen las encuestas.
    </p>
    <hr />
    <table border="0" cellpadding="5" cellspacing="0">
        <tr>
            <th>
                Nombre del estilo
            </th>
            <th>
                Muestra de ejemplo
            </th>
        </tr>
        <tr>
            <td>
                alh-izq
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alh-izq">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                alh-der
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alh-der">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                alh-cen
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alh-cen">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                alv-arr
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alv-arr">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                alv-abj
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alv-abj">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                alv-cen
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="alv-cen">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-1
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-1">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-2
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-2">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-3
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-3">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-4
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-4">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-5
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-5">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-6
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-6">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-7
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-7">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-8
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-8">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-9
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-9">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-10
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-10">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-11
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-11">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-12
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-12">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-13
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-13">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-14
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-14">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-15
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-15">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-16
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-16">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-17
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-17">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-18
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-18">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-19
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-19">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-color-20
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-color-20">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-1
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-1">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-2
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-2">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-3
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-3">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-4
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-4">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-5
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-5">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-6
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-6">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-7
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-7">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-8
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-8">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-9
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-9">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-10
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-10">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-11
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-11">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-12
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-12">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-13
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-13">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-14
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-14">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-15
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-15">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-16
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-16">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-17
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-17">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-18
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-18">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-19
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-19">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                fon-color-20
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="fon-color-20">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                bold
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="bold">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                italic
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="italic">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                underline
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="underline">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                border-top
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="border-top">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                border-bottom
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="border-bottom">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                border-left
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="border-left">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                border-right
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="border-right">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                border
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="border">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-tiny
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-tiny">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-small
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-small">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-normal
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-normal">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-big
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-big">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-bigger
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-bigger">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                txt-huge
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="txt-huge">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho1
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho1">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho2
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho2">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho3
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho3">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho4
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho4">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho5
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho5">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho6
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho6">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho7
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho7">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho8
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho8">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                ancho9
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table border="1" cellpadding="5" cellspacing="0" class="rus-encuesta">
                                <tr>
                                    <td class="ancho9">Texto</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                font1
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="font1 txt-bigger">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                font2
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="font2 txt-bigger">
                            Texto
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>