<div class="">
    <div class="rusicst-overlay rusicst-overlay-loading" ng-hide="started">
    </div>
    <div class="row"> <h2>Revisar Respuestas Alcaldías Gobernación</h2></div>
    <div class="row">
        <form role="form" class="form-horizontal" name="myForm" novalidate>
            <div class="sombra panel panel-default">
                <div class="panel-heading">Filtro</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-2 control-label required" for="GobernaciónSelect">Gobernación</label>
										<div class="col-sm-10">
											<select id="Gobernacion" name="Gobernacion" ng-change="cargarComboAlcaldias()" ng-model="registro.idDepartamento" class="form-control input-sm ng-pristine ng-valid" required>
												<option ng-repeat="item in gobernaciones" value="{{item.IdDepartamento}}">{{item.Departamento}}</option>
											</select>
											<span class="text-center text-danger" ng-show="submitted && myForm.Gobernacion.$error.required">{{errorsMessages.select}}</span>
										</div>
									</div>
									<!--<div class="form-group">
		<label class="col-sm-2 control-label" for="alcaldiaSelect">Alcaldía:</label>
		<div class="col-sm-10">
			<select id="alcaldiaSelect" name="alcaldiaSelect" ng-model="alcaldiaSeleccionada" class="form-control input-sm ng-pristine">
				<option ng-repeat="item in alcaldias" value="{{item.Id}}">{{item.Nombre}}</option>
			</select>
		</div>
	</div>-->
									<div class="form-group">
										<label class="col-sm-2 control-label" for="alcaldiaSelect">Alcaldía</label>
										<div class="col-sm-10">
											<select id="alcaldiaSelect" name="alcaldiaSelect" ng-model="registro.idMunicipio" class="form-control input-sm ng-pristine">
												<option></option>
												<option ng-repeat="item in alcaldias" value="{{item.IdMunicipio}}">{{item.Municipio}}</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-2 col-sm-offset-2"><button type="button" class="btnNew ancho" ng-click="submitted=true;buscar()">Aplicar Filtro</button></div>
									</div>

								</div>
            </div>
        </form>
    </div>
    <div class="row">
        <button class="btn btn-default pull-right" ng-if="isGrid" ng-click="limpiarAgrupacion();">
            <i class="fa fa-object-ungroup"></i> limpiar Agrupación
        </button>
    </div>
    <div class="row">
        <span class="col-sm-12 rusicst-center" ng-hide="cargoDatos"><i class="fa fa-spinner fa-pulse fa-2x fa-fw loading"></i></span>
    </div>
    <div class="row">
        <div id="filterTable" ng-if="isGrid" ui-i18n="{{lang}}">
            <h3 id="titulo" class="titulo-rejilla">Respuestas Alcaldías por Gobernación</h3>
            <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-scroll ui-grid-auto-resize></div>
        </div>
        <!--<div class="margin-top">
            <button type="button" class="btn btn-primary" ng-click="openPopUp()" ng-if="isGrid">
                <span class="glyphicon glyphicon-plus"></span> Crear Filtro
            </button>
        </div>-->
    </div>   
    <div class="form-group">
        <div class="alert alert-warning" ng-if="alerta" role="alert">{{alerta}}</div>
        <label class="text-danger" ng-if="error">{{error}}</label>
    </div>
</div>




