<form role="form" id="myForm" name="myForm" novalidate>
    <div class="modal-header modal-rejilla">
        <h3 class="text-center" id="modal-title">Clasificadores Por Pregunta</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="container-fluid">
            <div class="form-horizontal">

                <div class="form-group-sm">
                    <label class="col-sm-3 control-label" for="codigo">Código Pregunta</label>
                    <div class="separar col-sm-9">
                        <input class="form-control input-sm" name="codigo" type="text" ng-model="pregunta.codigoPregunta" id="codigo" disabled />
                    </div>
                </div>

                <div class="form-group-sm">
                    <label class="col-sm-3 control-label" for="Nombre">Pregunta</label>
                    <div class="separar col-sm-9">
                        <textarea class="form-control input-sm" name="Nombre" type="text" ng-model="pregunta.nombrePregunta" id="Nombre" required rows="3" style="max-width: 100%;" disabled></textarea>
                        <span class="text-danger" ng-show="submitted && myForm.Nombre.$error.required">{{errorMessages.inputText}}</span>
                    </div>
                </div>

                <div class="form-group-lg">
                    <div class="row">
                        <button class="btn btn-default pull-right" ng-click="limpiarAgrupacion();">
                            <i class="fa fa-object-ungroup"></i> limpiar Agrupación
                        </button>
                    </div>
                    <div class="row">
                        <span class="col-sm-12 rusicst-center" ng-hide="cargoDatos"><i class="fa fa-spinner fa-pulse fa-2x fa-fw loading"></i></span>
                    </div>
                    <div class="row">
                        <div id="filterTable" ng-if="isGrid" ui-i18n="{{lang}}">
                            <h3 id="titulo" class="titulo-rejilla">Lista de Clasificadores</h3>
                            <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-scroll></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div ng-if="error">
            <label class="text-danger">{{error}}</label>
        </div>
        <button class="btn btn-default" type="button" ng-click="cancelar()">Aceptar</button>
    </div>
</form>