<form role="form" class="form-horizontal" name="myForm" novalidate>
    <div class="modal-header modal-rejilla">
        <h3 class="text-center">{{rs.Nombre}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="sombra panel panel-default">
                    <!--<div class="panel-heading">Archivo de Ayuda</div>-->
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2">
                                URL:
                            </div>
                            <div class="col-sm-10">
                                <input type="text" placeholder="URL" class="form-control input-sm" ng-model="contenturl" id="contenturl" name="contenturl" required />
                                <span class="col-sm-12 text-danger" ng-show="submitted && myForm.contenturl.$error.required">Debe escribir la URL</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                Imagen:
                            </div>
                            <div class="col-sm-10">
                                <input type="file" ngf-select ng-model="file" name="file" accept="" ngf-max-size="25MB" required ngf-model-invalid="errorFile" style="width:100%;" />
                            </div>
                            <div class="col-sm-12"><span>{{file.name?file.name:'Ningun archivo seleccionado'}}</span></div>
                            <div class="col-sm-12"><span>{{progressPercentage}}</span></div>
                            <div class="col-sm-12"><label class="text-danger">Tamaño Máximo 25MB</label></div>
                            <span class="col-sm-12 text-danger text-center" ng-show="submitted && myForm.file.$error.required">
                                {{errorMessages.fileRequired}} <span ng-show="submitted && errorFile.$errorMessages.maxSize">{{errorMessages.maxSize}}</span>
                            </span>
                        </div>
                        <button type="button" class="btnNew" ng-click="submitted=true;agregar()"><i class="fa fa-pencil-square"></i> Modificar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
    </div>
</form>