<form role="form" name="myForm" novalidate>
    <div class="modal-header modal-rejilla">
        <h3 class="text-center" id="modal-title">Preguntas para el tablero {{tablero.NombreNivel}} del año {{tablero.anoTablero}}</h3>
    </div>
    <div class="modal-body" id="modal-body" style="margin-left:10px; margin-right:10px">
        <div class="form-group">
            <div class="row"> <a id="MainContent_newLink" href="" ng-click="Editar()">Nueva Pregunta</a></div>
            <div class="row">
                <button class="btn btn-default pull-right" ng-click="limpiarAgrupacion();">
                    <i class="fa fa-object-ungroup"></i> limpiar Agrupación
                </button>
            </div>
            <!--@*Loading*@-->
            <div class="row">
                <span class="col-sm-12 rusicst-center" ng-hide="cargoDatos"><i class="fa fa-spinner fa-pulse fa-2x fa-fw loading"></i></span>
            </div>
            <!--@*Div grilla*@-->
            <div class="row">
                <div id="filterTable" ng-if="isGrid" ui-i18n="{{lang}}">
                    <h3 id="titulo" class="titulo-rejilla">{{tituloadminpregunta}}</h3>
                    <div id="grid1" ui-grid="gridOptions" class="grid2" ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-scroll ui-grid-auto-resize></div>
                </div>
            </div>
            <div class="col-sm-12">

            </div>
            <!--@*Div de errores y alertas*@-->
            <div class="form-group">
                <label class="text-danger" ng-if="error">{{error}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btnNew" ng-click="cancelar()">Cerrar</button>
    </div>
</form>