<form role="form" class="form-horizontal" id="editForm" name="editForm" novalidate>
    <div class="modal-header">
        <h4 class="text-center" id="modal-title">Editar Seguimiento Otros Derechos</h4>        
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btnNew" ng-click="submitted=true;guardar()" style="margin:0px;">Guardar</button>
        <button class="btn btn-default" ng-click="cancelar()" style="margin:0px;">Cancelar</button>
    </div>
</form>