<!--<div class="row text-center">
    <a ui-sref="home.login" class="center-block">VOLVER AL INICIO</a>
</div>-->


<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="content/landing/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="content/landing/lib/animate/animate.min.css" rel="stylesheet">

<!-- Customized Bootstrap Stylesheet -->
<link href="content/landing/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="content/landing/css/style.css" rel="stylesheet">


<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<!-- Spinner End -->
<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar-main navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0" style="padding: 10px;">

        <a href="index.html" class="navbar-brand p-0">
            <img class="w-100" src="content/landing/img/colombia-potencia-vida-mininterior.png" style="width: 150px; height: 75px;"
                 alt="Image">

        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.html" class="nav-item nav-link active"></a>
                <a href="about.html" class="nav-item nav-link"></a>
                <a href="service.html" class="nav-item nav-link"></a>
                <div class="nav-item dropdown">


                </div>
                <div class="nav-item dropdown">


                </div>
                <a href="contact.html" class="nav-item nav-link"></a>
            </div>
            <a href="index.html" class="navbar-brand p-0">
                <img class="w-100" src="content/landing/img/Logo-Rusicst-2023.png" style="width: 150px; height: 75px;"
                     alt="Image">

            </a>
        </div>
    </nav>

    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="content/landing/img/Rusicst-3.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column justify-content-end" style="padding-bottom: 10em;">
                    <div class="p-3 ps-5" style="max-width: 900px; text-align: left; margin-left: 10%;">
                        <h3 class="text-white mb-3 animated slideInDown">RUSICST</h3>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn"></h1>
                        <a ui-sref="home.login"
                           class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft bg-primary btn-landing">CLICK AQUÍ</a>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="content/landing/img/Rusicst-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column justify-content-end" style="padding-bottom: 10em;">
                    <div class="p-3 ps-5" style="max-width: 900px; text-align: left; margin-left: 10%;">
                        <h3 class="text-white mb-3 animated slideInDown">Rendición de cuentas 2022</h3>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn"></h1>
                        <a href="https://www.mininterior.gov.co/participacion-ciudadana-y-estrategia-de-rendicion-de-cuentas/"
                           class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft bg-primary btn-landing">
                            RENDICIÓN
                            DE CUENTAS 2022
                        </a>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="content/landing/img/Rusicst-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column justify-content-end" style="padding-bottom: 10em;">
                    <div class="p-3 ps-5" style="max-width: 900px; text-align: left; margin-left: 10%;">
                        <h3 class="text-white mb-3 animated slideInDown">
                            Te damos la bienvenida a la experiencia
                            mejorada de la escuela virtual de víctimas
                        </h3>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn"></h1>
                        <a href="http://192.168.17.75/"
                           class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft bg-primary btn-landing">
                            IR
                            A LA ESCUELA VIRTUAL DE VÍCTIMAS
                        </a>

                    </div>
                </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Navbar & Carousel End -->
<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                           placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0" style="background: #f0f0f0;">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4"
                     style="height: 150px;">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-users text-primary-landing"></i>
                    </div>
                    <div class="ps-4">

                        <h1 class="text-white mb-0" data-toggle="counter-up">9472019</h1>
                        <h5 class="text-white mb-0">Víctimas registradas</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-light shadow d-flex align-items-center justify-content-center p-4"
                     style="height: 150px;">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded mb-2"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-check text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-primary-landing mb-0">Sujetos de atención y/o reparación</h5>
                        <h1 class="mb-0" data-toggle="counter-up">7153135</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4"
                     style="height: 150px;">
                    <div class="bg-white d-flex align-items-center justify-content-center rounded mb-2"
                         style="width: 60px; height: 60px;">
                        <i class="fa fa-users-cog text-primary-landing"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0">Usuarios activos en la plataforma</h5>
                        <h1 class="text-white mb-0" data-toggle="counter-up">4363</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts Start -->
<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="background: #f0f0f0;">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h1 class="mb-0">Videos</h1>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div style="text-align: center;" class="ratio ratio-21x9">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/zAqzoZis8SM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div style="text-align: center;" class="ratio ratio-21x9">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tw2nxlkEUwE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div style="text-align: center;" class="ratio ratio-21x9">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/trvL0fDGpMs"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>


</div>


<!-- Blog Start -->
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="background: #f0f0f0;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h1 class="mb-0">Podría interesarte</h1>
                </div>

                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12 position-relative">
                        <div class="">
                            <img class="h-80 rounded wow zoomIn" data-wow-delay="0.9s" src="content/landing/img/cursos.PNG"
                                 style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12 position-relative">
                        <h2>Ingresa a la escuela virtual de víctimas</h2>
                        <a href="http://192.168.17.75/"
                           class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft bg-primary btn-landing">
                            <strong>
                                Click
                                aquí >
                            </strong>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <blockquote class="twitter-tweet">
                    <p lang="es" dir="ltr">
                        Desde <a href="https://twitter.com/MinInterior?ref_src=twsrc%5Etfw">@MinInterior</a> impulsamos
                        iniciativas de impacto social y ambiental enfocadas en los Objetivos de Desarrollo
                        Sostenible ♻.<br><br>¡Tienes hasta el 30 de junio para inscribir a tu organización religiosa
                        en la Convocatoria <a href="https://twitter.com/hashtag/BIIR2023?src=hash&amp;ref_src=twsrc%5Etfw">#BIIR2023</a>!<br><br>Conoce
                        más en: <a href="https://t.co/tImxvsAljz">https://t.co/tImxvsAljz</a> <a href="https://t.co/0Yx4uryoZg">pic.twitter.com/0Yx4uryoZg</a>
                    </p>&mdash; MinInterior
                    Colombia (@MinInterior) <a href="https://twitter.com/MinInterior/status/1668288096687849473?ref_src=twsrc%5Etfw">
                        June
                        12, 2023
                    </a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Footer Start -->
<div class="container-fluid bg-footer-landing mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">

            <div class="col-lg-12 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-3 col-md-12 pt-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0 text-primary-landing">Ministerio del Interior</h3>
                        </div>
                        <p>Sede Principal - La Giralda</p>
                        <p>
                            Dirección: Carrera 8 No. 7 - 83. Bogotá, D.C.<br>Código Postal: 111711<br>
                            Horario de Atención: Lunes a Viernes de 8:00 a.m. a 4:00 p.m.<br>
                        </p>

                    </div>
                    <div class="col-lg-3 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0 text-primary-landing">Enlaces de interés</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">

                            <a class="text-redes-landing"
                               href="https://www.mininterior.gov.co/wp-content/uploads/2022/09/2022-09-22_DOCUMENTO-POLITICA-PUBLICA-DE-PARTICIPACION-CIUDADANA-VERSION-FINAL-AJUSTADA-27092022.pdf">
                                Otras
                                políticas
                            </a>
                            <a class="text-redes-landing"
                               href="https://www.mininterior.gov.co/wp-content/uploads/2022/09/ir-a-terminos-y-condiciones-e-uso.pdf">
                                Términos
                                y Condiciones
                            </a>
                            <a class="text-redes-landing"
                               href="https://www.mininterior.gov.co/wp-content/uploads/2022/07/politica_de_tratamiento_de_datos_personales.pdf">
                                Política
                                de Tratamiento de Datos Personales
                            </a>
                            <a class="text-redes-landing" class="text-redes-landing"
                               href="https://www.mininterior.gov.co/wp-content/uploads/2022/09/POLITICA-DE-DERECHOS-DE-AUTOR-MININTERIOR.pdf">
                                Derechos
                                de Autor
                            </a>


                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0 text-primary-landing">Síguenos</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">

                            <a class="text-redes-landing" href="" target="_blank">
                                <span class="media-icon">
                                    <i class="fab fa-facebook"></i>
                                </span>
                                <span class="media-name">Facebook</span>
                            </a>

                            <a class="text-redes-landing" href="" target="_blank">
                                <span class="media-icon">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <span class="media-name">Twitter</span>
                            </a>

                            <a class="text-redes-landing" href="" target="_blank">
                                <span class="media-icon">
                                    <i class="fab fa-youtube"></i>
                                </span>
                                <span class="media-name">YouTube</span>
                            </a>

                            <a class="text-redes-landing" href="" target="_blank">
                                <span class="media-icon">
                                    <i class="fab fa-instagram"></i>
                                </span>
                                <span class="media-name">Instagram</span>
                            </a>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="position-relative pb-3 mb-4">
                            <a href="index.html" class="navbar-brand p-0">
                                <img class="w-100" src="content/landing/img/interior-potencia-vida.png" alt="Image">

                            </a>

                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="content/landing/lib/wow/wow.min.js"></script>
<script src="content/landing/lib/easing/easing.min.js"></script>
<script src="content/landing/lib/waypoints/waypoints.min.js"></script>
<script src="content/landing/lib/counterup/counterup.min.js"></script>
<script src="content/landing/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="content/landing/js/main.js"></script>
