<div class="container">
    <!--Imágenes-->
    <header class="">
        <div class="">
            <div class="col-md-12">
                <a style="width: 283px;">
                    <img data-ng-src="data:image/jpg;base64,{{datosHome.ImageMintContent}}" 
                         class="img-responsive center-block" alt="mininterior"
                         style="width:90%; max-height: 90%;" id="imgMint" />
                </a>

                <a style="width: 283px;">
                    <img data-ng-src="data:image/jpg;base64,{{datosHome.ImagePaisContent}}"
                         class="img-responsive center-block" alt="todos por un nuevo país"
                         style="width:90%; max-height: 90%; margin: 20px auto;" id="imgPais" />
                </a>

                <a style="width: 283px;">
                    <img data-ng-src="data:image/jpg;base64,{{datosHome.ImageVictContent}}"
                         class="img-responsive center-block" alt="Unidad para la atención y reparación integral a las víctimas"
                         style="width:90%; max-height: 90%;" id="imgVic" />
                </a>
            </div>
        </div>
        <div class="log-aplic full-width">
            <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-12" style="height: 150px;">
                        <img data-ng-src="data:image/jpg;base64,{{datosHome.ImageAppContent}}"
                             class="img-responsive center-block imgCenter"
                             style="max-width:100%; max-height: 90%;position: absolute;margin: auto;top: 0;left: 0;right: 0;bottom: 0;" alt="rusicst" id="imgRus" />
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>