<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- CADENA DE CONEXION LOCAL -->
    <!--<add name="EntitiesRusicst" connectionString="metadata=res://*/ModelRusicst.csdl|res://*/ModelRusicst.ssdl|res://*/ModelRusicst.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Liliana;initial catalog=rusicst_produccionPat;user id=sa;password=Linda123.;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Rusicts_Historial" connectionString="Data Source=Liliana;initial catalog=rusicst_produccionPat;user id=sa;password=Linda123.;connect timeout=60;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="rusicstAspNet" connectionString="Data Source=Liliana; Initial Catalog=rusicst_produccionPat; User ID=sa; password=Linda123.; Connect Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="EntitiesRusicstLog" connectionString="metadata=res://*/ModelLog.csdl|res://*/ModelLog.ssdl|res://*/ModelLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Liliana;initial catalog=rusicstLog;persist security info=True;user id=sa;password=Linda123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRusicstLogOld" connectionString="metadata=res://*/ModelLogOld.csdl|res://*/ModelLogOld.ssdl|res://*/ModelLogOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBETANCO\GOKU;initial catalog=QoS-Ruscits;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="EntitiesRusicst" connectionString="metadata=res://*/ModelRusicst.csdl|res://*/ModelRusicst.ssdl|res://*/ModelRusicst.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Liliana;initial catalog=rusicst;user id=sa;password=Linda123.;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Rusicts_Historial" connectionString="Data Source=Liliana;initial catalog=rusicst;user id=sa;password=Linda123.;connect timeout=60;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="rusicstAspNet" connectionString="Data Source=Liliana; Initial Catalog=rusicst; User ID=sa; password=Linda123.; Connect Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="EntitiesRusicstLog" connectionString="metadata=res://*/ModelLog.csdl|res://*/ModelLog.ssdl|res://*/ModelLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Liliana;initial catalog=rusicstLog;persist security info=True;user id=sa;password=Linda123.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EntitiesRusicstLogOld" connectionString="metadata=res://*/ModelLogOld.csdl|res://*/ModelLogOld.ssdl|res://*/ModelLogOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JBETANCO\GOKU;initial catalog=QoS-Ruscits;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!-- CADENA DE CONEXION PRUEBAS -->
    <add name="EntitiesRusicst" connectionString="metadata=res://*/ModelRusicst.csdl|res://*/ModelRusicst.ssdl|res://*/ModelRusicst.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.18.181;initial catalog=rusicst;user id=usrrusicts;password=2023Pass;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Rusicts_Historial" connectionString="Data Source=192.168.18.181;initial catalog=rusicst;user id=usrrusicts;password=2023Pass;connect timeout=60;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="rusicstAspNet" connectionString="Data Source=192.168.18.181; Initial Catalog=rusicst; User ID=usrrusicts; password=2023Pass; Connect Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="EntitiesRusicstLog" connectionString="metadata=res://*/ModelLog.csdl|res://*/ModelLog.ssdl|res://*/ModelLog.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.18.181;initial catalog=rusicst_log;persist security info=True;user id=usrrusicts;password=2023Pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntitiesRusicstLogOld" connectionString="metadata=res://*/ModelLogOld.csdl|res://*/ModelLogOld.ssdl|res://*/ModelLogOld.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.18.181;initial catalog=QoS-Ruscits;persist security info=True;user id=usrrusicts;password=2023Pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Ruta utilizada como temporal para los archivos -->
    <add key="FilesTemp" value="~/App_Data/Tmp/" />
    <!-- Ruta repositorio de archivos -->
    <add key="FilesFolder" value="C:\rusicst-files\" />
    <!-- Servidor-->
    <add key="Domain" value="mininterior" />
    <!-- Archivo de captura para el Log de errores -->
    <add key="logError" value="C:\rusicst-files\rusicst.log" />

    <!-- Keys File Server Archivos Diligenciamiento Encuesta - Solo backslash al inicio, de resto slash normal -->
    <add key="FileFolderEncuesta" value="\\LILIANA/rusicst-files" />
    <add key="DomainFileFolderEncuesta" value="LILIANA" />
    <add key="UserFileFolderEncuesta" value="LILIANA" />
    <add key="PassFileFolderEncuesta" value="Linda123." />

    <add key="JWT_SECRET_KEY" value="db3OIsj+BXE9NZDy0t8W3TcNekrF+2d/1sFnWG4HnV8TZY30iTOdtVWJG8abWvB1GlOgJuQZdcF2Luqm/hccMw==" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost:49220" />
    <add key="JWT_ISSUER_TOKEN" value="http://localhost:49220" />
    <add key="JWT_EXPIRE_MINUTES" value="30" />

  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <!--maxRequestLength="26000000" Utilizado para recibir archivos hasta de 25 megas ||| El maxQueryStringLength se modifica para poder relacionar usuarios por rol-->
    <httpRuntime targetFramework="4.5" maxRequestLength="26000000" maxQueryStringLength="4096" />
    <machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES" />
    <authentication mode="Windows"></authentication>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <security>
      <requestFiltering>
        <!--Esta opción es necesaria para que se puedan relacionar los usuarios al rol en Batch-->
        <requestLimits maxQueryString="50096"></requestLimits>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TableroPatWSPortBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="TableroPatWSPortBinding1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IOfertaService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://plataformapre.unidadvictimas.gov.co:80/PortalEmpleado/TableroPatWS" binding="basicHttpBinding" bindingConfiguration="TableroPatWSPortBinding" contract="ServiciosESigna.TableroPatWS" name="TableroPatWSPort" />
      <endpoint address="http://procesos.unidadvictimas.gov.co:80/PortalEmpleado/TableroPatWS" binding="basicHttpBinding" bindingConfiguration="TableroPatWSPortBinding1" contract="ServiciosESignaProduccion.TableroPatWS" name="TableroPatWSPort1" />
      <endpoint address="http://serviciosunidad.unidadvictimas.gov.co/WcfSigo/OfertaService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOfertaService" contract="ServiciosSigo.IOfertaService" name="BasicHttpBinding_IOfertaService" />
    </client>
  </system.serviceModel>
</configuration>