<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CO" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <connectionStrings>
    <!--<add name="OLAP_BI_RUSICST" connectionString="provider=MSOLAP.4;data source=NRESTREP;Initial Catalog=BI_RUSICST;Integrated Security=SSPI;Persist Security Info=True;Connect Timeout=300" />
    <add name="ENGINE_RUSICST" connectionString="Connection Timeout=0;Data Source=NRESTREP;Initial Catalog=DWH_RUSICST;User ID=sa;Password=Soda2016$;Pooling=True;Application Name=RUSICST;" providerName="System.Data.SqlClient" />-->
    <add name="OLAP_BI_RUSICST" connectionString="provider=MSOLAP.4;data source=DESKTOP-TK5P4M8\MSSQLSERVER2016;Initial Catalog=BI_RUSICST;Integrated Security=SSPI;Persist Security Info=True;Connect Timeout=300" />
    <add name="ENGINE_RUSICST" connectionString="Connection Timeout=0;Data Source=DESKTOP-TK5P4M8\MSSQLSERVER2016;Initial Catalog=DWH_RUSICST;User ID=sa;Password=123456;Pooling=True;Application Name=RUSICST;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="CustomDataProvider.Web.AdomdConnector">
        <endpoint address="" binding="webHttpBinding"

            contract="CustomDataProvider.Web.IAdomdConnector" behaviorConfiguration="EndpBehavior"/>
      </service>
    </services>
  </system.serviceModel>
  <!--<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBinding" maxBufferPoolSize="2147483647" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    
  </system.serviceModel>-->
</configuration>