<form role="form" class="form-horizontal" name="myForm" novalidate>
    <div class="modal-header" style="background-color:#748595;">
        <h2 class="text-center" style="color:whitesmoke">Mensaje</h2>
    </div>
    <div class="modal-body">
        <div class="form-group" style="margin-top:15px;">
             <label class="col-sm-12 text-center" ng-class="tipo" style="margin-bottom:0">{{msn}}</label>           
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cerrar()">Cerrar</button>
    </div>
</form>