<form class="" role="form" name="myForm">
    <div class="">
        <div class="rusicst-overlay rusicst-overlay-loading" ng-hide="started">
        </div>
        <div class="row" style="margin-bottom: 10px;"> <h2>Plan de Mejoramiento</h2></div>
        <div class="row" style="margin-bottom: 10px;">
            <!-- Aca va los botones de exportar-->
            &nbsp;
            <div class="col-sm-12">
                <button class="btn btn-default pull-right" ng-click="exportar()"> Exportar PDF</button>
                <button class="btn btn-default pull-right" ng-click="exportarExcel()"> Exportar Excel</button>
            </div>
        </div>

        <div class="row">
            <span class="col-sm-12 rusicst-center" ng-hide="cargoDatos"><i class="fa fa-spinner fa-pulse fa-2x fa-fw loading"></i></span>
        </div>

        <div class="row">
            <div id="exportthis">

                <!--Se arma los acordeones-->
                <uib-accordion close-others="false" ng-repeat="seccion in datos" ng-init="outerIndex = $index">
                    <!--Se arma las secciones - directiva-->
                    <!--<pintar-secciones seccion="item">-->
                    <div uib-accordion-group class="panel-default" is-open="seccion.expandido" style="overflow: auto;">
                        <uib-accordion-heading>
                            <div class="ui-accordion-header-plan">{{seccion.Titulo}} <i class="pull-right fa" ng-class="{'fa-chevron-down': seccion.expandido, 'fa-chevron-right': !seccion.expandido}"></i></div>
                        </uib-accordion-heading>

                        <table>
                            <tr>
                                <td>
                                    <h6>{{seccion.Ayuda}}</h6>
                                </td>
                            </tr>
                        </table>

                        <table id="RecomendaTable" class="tablePlan" style="width: 100%;">

                            <thead>
                                <tr class="trPlan" style="background-color: rgb(231, 230, 230);">
                                    <th class="headerCell">Objetivo</th>
                                    <th class="headerCell">Estrategia</th>
                                    <th class="headerCell">Acciones a Realizar</th>
                                    <th class="headerCell" colspan="5"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="trPlan" ng-repeat="estrategia in seccion.estrategias" ng-init="innerIndex = $index">
                                    <td class="tdRec col-sm-1">
                                        {{estrategia.ObjetivoGeneral}}
                                    </td>
                                    <td class="tdRec col-sm-1">
                                        {{estrategia.Estrategia}}
                                    </td>
                                    <td class="tdRec col-sm-1">
                                        <select id="tareas" name="tareas" ng-model="estrategia.Tarea" class="form-control input-sm ng-valid"
                                                style="width: 80px;"
                                                ng-options="c as c.Tarea for c in estrategia.tareasDiligenciar"
                                                ng-change="getTareas(outerIndex, innerIndex)"></select>
                                    </td>
                                    <td class="tdRec col-sm-9" colspan="5">

                                        <table id="tareasTable" class="tablePlan" ng-show="estrategia.tareasDiligenciadas.length > 0" style="width: 100% !important;">
                                            <thead>
                                                <tr class="trPlan" style="background-color: rgb(231, 230, 230);">
                                                    <th class="headerCell" rowspan="2">Acción</th>
                                                    <th class="headerCell" colspan="2">Tiempos de Ejecución</th>
                                                    <th class="headerCell" rowspan="2">Responsables</th>
                                                    <th class="headerCell" rowspan="2">Auto Evaluación</th>
                                                    <th class="headerCell" rowspan="2"></th>
                                                </tr>
                                                <tr class="trPlan" style="background-color: rgb(231, 230, 230);">
                                                    <th class="headerCell">Fecha Inicio</th>
                                                    <th class="headerCell">Fecha Final</th>
                                                </tr>
                                            </thead>

                                            <tr class="trPlan" ng-repeat="tarea in estrategia.tareasDiligenciadas" ng-init="tareaIndex = $index">
                                                <td class="tdRec">
                                                    <div style="width: 350px !important;">
                                                        {{tarea.Tarea}}
                                                    </div>
                                                </td>
                                                <td class="tdRec">
                                                    <input type="date" id="fechaIniTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}" name="fechaIniTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}"
                                                           class="form-control input-sm"
                                                           ng-change="setMinDateFin(outerIndex, innerIndex, $index)"
                                                           ng-model="tarea.FechaInicioEjecucion"
                                                           blacklist="{{maxDate}}"
                                                           style="width: 150px !important;"
                                                           required />
                                                    <span class="text-danger" ng-show="myForm.fechaFinTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.blacklist">
                                                        Fecha máxima permitida {{maxDate | date:'yyyy-MM-dd'}}
                                                    </span>
                                                    <span class="text-danger" ng-show="submitted && myForm.fechaIniTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.required">Campo obligatorio</span>
                                                </td>
                                                <td class="tdRec">
                                                    <input type="date" id="fechaFinTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}" name="fechaFinTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}"
                                                           class="form-control input-sm"
                                                           min="{{tarea.FechaFinMin}}"
                                                           blacklist="{{maxDate}}"
                                                           ng-model="tarea.FechaFinEjecucion"
                                                           style="width: 150px !important;"
                                                           required />
                                                    <span class="text-danger" ng-show="myForm.fechaFinTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.blacklist">
                                                        Fecha máxima permitida {{maxDate | date:'yyyy-MM-dd'}}
                                                    </span>
                                                    <span class="text-danger" ng-show="submitted && myForm.fechaFinTarea{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.required">Campo obligatorio</span>
                                                </td>
                                                <td class="tdRec">
                                                    <textarea id="txtResponsable{{outerIndex}}{{innerIndex}}{{tareaIndex}}" name="txtResponsable{{outerIndex}}{{innerIndex}}{{tareaIndex}}"
                                                              class="form-control"
                                                              style="width: 200px; max-width:200px !important; max-height: 250px !important;" rows="2"
                                                              maxlength="500"
                                                              ng-model="tarea.Responsable" required></textarea>
                                                    <span class="text-danger" ng-show="submitted && myForm.txtResponsable{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.required">Campo obligatorio</span>
                                                    <span class="text-danger" ng-show="myForm.txtResponsable{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.maxlength">La longitud de campo debe tener menos de 500 caracteres.</span>
                                                </td>
                                                <td class="tdRec">
                                                    <select id="Autoeval{{outerIndex}}{{innerIndex}}{{tareaIndex}}" name="Autoeval{{outerIndex}}{{innerIndex}}{{tareaIndex}}"
                                                            ng-model="tarea.IdAutoevaluacion" class="form-control input-sm ng-valid"
                                                            style="width: 80px;"
                                                            ng-options="c.IdAutoevaluacion as c.Autoevaluacion for c in listaAutoeva" required></select>
                                                    <span class="text-danger" ng-show="submitted && myForm.Autoeval{{outerIndex}}{{innerIndex}}{{tareaIndex}}.$error.required">Campo obligatorio</span>
                                                </td>
                                                <td class="tdPlan" style="text-align: center;">
                                                    <a class="glyphicon glyphicon-remove-circle text-danger link" title="Borrar Acción" ng-click="borrarTarea(outerIndex, innerIndex, $index)"></a>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </uib-accordion>

            </div>

            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" style="overflow: auto;">
                    <uib-accordion-heading>
                        <div class="ui-accordion-header-plan">Adjuntar Archivo <i class="pull-right fa" ng-class="{'fa-chevron-down': openFile, 'fa-chevron-right': !openFile}"></i></div>
                    </uib-accordion-heading>

                    <input type="file" ngf-select="" ng-model="datos.file" name="filen" id="filen"
                           ng-show="fileIsVacio"
                           ngf-validate-fn="validarArchivo($file)"
                           ngf-max-size="10MB"
                           ngf-model-invalid="errorFile" style="width:100%;" />
                    <span class="col-sm-12 text-danger text-center" ng-show="submitted && errorFile.$errorMessages.maxSize">
                        El tamaño máximo del archivo es de 10MB
                    </span>

                    <div uib-alert class="alert alert-link archivo-alerta" close="cerrar();" ng-show="!fileIsVacio">
                        <a href="" ng-click="descargar()">{{fileLocation}}</a>
                    </div>

                </div>
            </uib-accordion>
        </div>

        <div class="form-group">
            <div class="alert alert-warning" ng-if="alerta" role="alert">{{alerta}}</div>
            <label class="text-danger" ng-if="error">{{error}}</label>
        </div>

        <div class="form-group">
            <button class="btnNew" type="button" ng-click="submitted=true;aceptar()" ng-show="activo" ng-disabled="guardando">Guardar</button>
            <button class="btnNew" type="button" ng-click="submitted=true;enviar()" ng-show="activo" ng-disabled="enviando">Enviar</button>
        </div>

    </div>
</form>