<div class="">
    <div class="rusicst-overlay rusicst-overlay-loading" ng-hide="started">
    </div>
    <div class="row"> <h2>Gestión de Planes de Mejoramiento</h2></div>
    <div class="row"> 
        <!--<a href="" ng-click="PopUpNuevoEditarPregunta('')">Nueva Pregunta</a>-->
        <button class="btnNew" type="button" ng-click="PopUpNuevoPlan('')">Nuevo Plan</button>
        <button class="btnNew col-md-offset-1" type="button" ng-click="PopUpTiposRecurso('')">Nuevo Recurso</button>
    </div>
    <div class="row">
        <button class="btn btn-default pull-right" ng-click="limpiarAgrupacion();">
            <i class="fa fa-object-ungroup"></i> limpiar Agrupación
        </button>
    </div>
    <div class="row">
        <span class="col-sm-12 rusicst-center" ng-hide="cargoDatos"><i class="fa fa-spinner fa-pulse fa-2x fa-fw loading"></i></span>
    </div>
    <div class="row">
        <div id="filterTable" ng-if="isGrid" ui-i18n="{{lang}}">
            <h3 id="titulo" class="titulo-rejilla">Listado de Planes de Mejoramiento</h3>
            <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-scroll></div>
        </div>
    </div>
    <div class="form-group">
        <div class="alert alert-warning" ng-if="alerta" role="alert">{{alerta}}</div>
        <label class="text-danger" ng-if="error">{{error}}</label>
    </div>
</div>
