<div>
    <div class="rusicst-overlay rusicst-overlay-loading" ng-hide="started">
    </div>
    <div class="row"><h2>Histórico de Auditoría y Eventos</h2></div>
    <div class="row">
        <form role="form" class="form-horizontal" name="myForm" novalidate>
            <div class="sombra panel panel-default">
                <div class="panel-heading">Criterios de búsqueda</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="AccionesSelect">Acciones </label>
                        <div class="col-sm-10">
                            <select id="acciones" name="acciones" ng-model="registro.CategoryID" class="form-control input-sm ng-pristine ng-valid" ng-required="!usuarioSeleccionado">
                                <!--required-->
                                <option ng-repeat="item in acciones" value="{{item.CategoryID}}">{{item.CategoryName}}</option>
                            </select>
                            <span class="text-danger" ng-show="submitted && myForm.acciones.$error.required && myForm.usuario.$error.required">{{errorMessages.select}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="usuario" class="col-sm-2 control-label required">Usuarios </label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="usuarioSeleccionado" uib-typeahead="usuario as usuario.NombresYUsername for usuario in usuarios | filter:{NombresYUsername:$viewValue} | limitTo:10"
                                   class="form-control input-sm" id="usuario" name="usuario" autocomplete="off"  ng-required="!registro.CategoryID"><!--required-->
                            <span class="text-danger" ng-show="submitted && myForm.acciones.$error.required && myForm.usuario.$error.required">{{errorMessages.select}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaInicio" class="col-sm-2 control-label required">Desde Fecha:</label>
                        <div class="input-group col-sm-9">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="registro.FechaInicio" id="fechainicio" required is-open="popup1.opened"
                                   name="fechainicio" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" style="margin-left: 15px;" />
                            <span class="text-danger" style="margin-left: 15px;" ng-show="submitted && myForm.fechainicio.$error.required">{{errorMessages.dateRequired}}</span>
                            <span class="text-danger" style="margin-left: 15px;" ng-show="submitted && myForm.fechainicio.$error.date">Fecha inválida</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fechaFin" class="col-sm-2 control-label required">Hasta Fecha:</label>
                        <div class="input-group col-sm-9">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="registro.FechaFin" id="fechafin" required is-open="popup2.opened"
                                   name="fechafin" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" style="margin-left: 15px;" />
                            <span class="text-danger" style="margin-left: 15px;" ng-show="submitted && myForm.fechafin.$error.required">{{errorMessages.dateRequired}}</span>
                            <span class="text-danger" style="margin-left: 15px;" ng-show="submitted && myForm.fechafin.$error.date">Fecha inválida</span>
                            <span class="text-danger" style="margin-left: 15px;" ng-show="submitted && dateNoMatch">{{errorMessages.dateNoMatch}}</span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="button" class="btnNew ancho" ng-disabled="cargoDatos" ng-click="submitted=true;filtrar()">Buscar</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-2">
                            <button type="button" class="btnNew ancho" ng-disabled="cargoDatos" ng-click="submitted=true;exportar()">Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-hide="cargoDatos">
        <button class="btn btn-default pull-right" ng-if="isGrid" ng-click="limpiarAgrupacion();">
            <i class="fa fa-object-ungroup"></i> limpiar Agrupación
        </button>
    </div>
    <!--@*Loading*@-->
    <div class="row">
        <span class="col-sm-12 rusicst-center" ng-hide="!cargoDatos"><i class="fa fa-spinner fa-pulse fa-2x fa-fw loading"></i></span>
    </div>
    <div class="row">
        <div id="filterTable" ng-if="isGrid" ui-i18n="{{lang}}">
            <h3 id="titulo" class="titulo-rejilla">Consulta Auditoría y Eventos</h3>
            <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-scroll></div>
        </div>
    </div>
    <div class="form-group">
        <div class="alert alert-warning" ng-if="alerta" ng-show="alerta.length" role="alert">{{alerta}}</div>
        <label class="text-danger" ng-if="error">{{error}}</label>
    </div>
</div>
