<div class="">
    <div class="rusicst-overlay rusicst-overlay-loading" ng-hide="started">
    </div>
    <div class="row"> <h2>Administrar Retroalimentación</h2></div>
    <form role="form" class="form-horizontal" name="myForm" novalidate>
        <div id="PanelCM" class="sombra panel-default" ng-show="mostrarRetroNueva">
            <div class="panel-heading">Creación Retroalimentación</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label-left" for="titulo">Título:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control input-sm" ng-model="Retro.Titulo" id="titulo" name="titulo" required ng-maxlength="50" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label-left" for="encuesta">Encuesta:</label>
                    <div class="col-sm-8">
                        <select id="encuesta" name="encuesta" ng-model="Retro.IdEncuesta" class="form-control input-sm ng-pristine ng-valid">
                            <option></option>
                            <option ng-repeat="item in encuestas" value="{{item.Id}}">{{item.Titulo}}</option>
                        </select>
                    </div>
                </div>
                    <button class="btnNew" ng-disabled="deshabiltarSeccion" ng-click="crearRealimentacion();mostrarRetroNueva=0">Guardar</button>
                    <button class="btn btn-default" ng-click="cancelar();mostrarRetroNueva=0">Cancelar</button>
            </div>
        </div>
    </form>
    <form role="form" class="form-horizontal" name="myForm" novalidate>
        <div id="PanelMRM" class="sombra panel-default" ng-show="mostrarRetroModificar">
            <div class="panel-heading">Modificar Retroalimentación</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label-left" for="titulo">Título:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control input-sm" ng-model="TituloModificar" id="titulo" name="titulo" required ng-maxlength="50" />
                    </div>
                </div>
                <button class="btnNew" ng-click="modificarRealimentacion();mostrarRetroModificar=0">Guardar</button>
                <button class="btn btn-default" ng-click="mostrarRetroModificar=0">Cancelar</button>
            </div>
        </div>
    </form>
        <div class="form-group">
            <div class="panel-body">
                <button class="btnNew" ng-click="mostrarRetroNueva=1">Nueva Retroalimentación</button>
            </div>
            <div id="filterTable" ng-if="isGrid" ui-i18n="{{lang}}">
                <h3 id="titulo" class="titulo-rejilla">Listado de Retroalimentaciones</h3>
                <div id="grid1" ui-grid="gridOptions" class="grid" ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-pagination ui-grid-resize-columns ui-grid-pinning ui-grid-auto-scroll></div>
            </div>
        </div>
        <div class="form-group">
            <div class="alert alert-warning" ng-if="alerta" role="alert">{{alerta}}</div>
            <label class="text-danger" ng-if="error">{{error}}</label>
        </div>
</div>







